@font-face{
    font-family: "Determination Sans";
    src: url("res/dtmsans.otf");
}
html,body {
    box-sizing: border-box;
    font-family: "Determination Sans", "Arial", sans-serif;
    background-color: black;
    color: white;
    margin:0;
    overflow-x:hidden;
    height: 100vh;
}
*,*::before,*::after {
    box-sizing: inherit;
}
header {
    margin:0;
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid white;
}
main {
    margin:0;
    width: 100%;
    height: 80vh;
}
footer {
    margin:0;
    width: 100%;
    height: 10vh;
    font-size:.8em;
}
p {
    margin:2px;
}